<head>
<!-- Link Bootstrap & CSS Start -->
  <link href="../Content/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="../Content/css/styles.css" rel="stylesheet" type="text/css">
<!-- Link Bootstrap & CSS End -->
  <title>Address Book</title>
</head>
<body>
  <h1 class="page-header">Address Book - All Contacts</h1>
  @foreach (var contact in Model)
  {
    <h2>@contact.GetFullName()</h2>
    <ul>
      <li>@contact.GetPhoneNumber()</li>
      <li>@contact.GetEmailAddress()</li>
      <li>@contact.GetFullAddress()</li>
    </ul>
  }
  <h2><a href="/create_contact">Create New Contact</a></h2>
  <form class="form-group" action="/contacts_deleted" method="post">
    <button type="submit" class="btn btn-danger" name="clear-all-btn" id="clear-all-btn">Clear Entire Address Book</button>
  </form>
</body>
