body {
  font-family: serif;
  color: #000000;
}

h1 {
  text-align: center;
  font-size: 50pt;
  margin-bottom: 75px;
}

h2 {
  text-align: center;
  font-size: 30pt;
  margin-top: 70px;
}

h3 {
  font-size: 25pt;
  font-weight: bold;
}

p, li {
  font-size: 13pt;
}

#contact-form {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px;
}

#contact-created, #contact-list {
  margin-left: 10%;
  margin-top: 40px;
}

#add-contact-btn, #delete-all-btn {
  font-size: 15pt;
}

#add-contact-btn {
  margin-top: 30px;
}

#delete-all-btn {
  margin-left: 38%;
  margin-top: 50px;
  margin-bottom: 50px;
}
